html {
    height: 100vh;
}
body {
    margin:0;
    font-family: sans-serif;
    height: 100vh;
}
.app-container {
    height: 100vh;
}

.navbar-container {
    z-index: 999;
    width: 100%;
}
.navbar {
    background-color: cornflowerblue;
}
.nav-title {
    flex-grow: 1;
}
.nav-controls {
    display: flex;
    padding: 10px;
}
.tag-select, .tag-filter {
    margin-right: 15px;
    width: 150px;
}

.login-container {
    height: 89%;
    text-align: center;
}
.login-fields {
    text-align: center;
    display: block;
    margin: 20px;
}
.login-fields input {
    margin: 10px;
}
.login-button {
    position: relative;
    float: left;
}
.register-button {
    height: 10%;
    position: static;
    float: right;
    vertical-align: bottom;
}

.home-container {
    height: 91%;
    position: relative;
}

.Mui-selected .note-thumb {
    background-color: rgb(202, 219, 255);
}

.notes-thumb-container {
    text-align: center;
    overflow: auto;
    height: 100%;
    width: 50%;
    position: relative;
    background-color: rgb(202, 219, 255);
}
.notes-thumb-list {
    height: 100%;
    text-align: center;
}
.note-thumb-container {
    padding: 1% !important;
    height: 20%;
    width: 100%;
}
.note-thumb {
    height: 100%;
    position: relative;
    width: 100%;
}
.note-thumb-title {
    display: block;
    height: 40%;
}
.note-thumb-content {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    display: block;
    height: 20%;
    padding: 5% !important;
    padding-bottom: 0 !important;
}
.note-thumb-snippet {
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    overflow: hidden;
    height: 100%;
}
.note-thumb-tag {
    color: gray;
 /*   position: relative;
    padding-right: 1%;
    float: right;
    */
}

.preview-container {
    width: 100%;
    height: 100%;
}
.note-detail-container {
    height: 100%;
}
.note-detail-nav {
    background-color: rgb(202, 219, 255);
}
/*
.note-title:hover {
    background-color: rgba(100, 148, 237, 0.5);
}*/
.note-content-container {
    width: 100%;
    height: 100%;
}
.note-content {
    width: 100%;
    height: 100%;
}